alabaster==0.7.12
anyio==3.6.2
appnope==0.1.0
argcomplete==1.9.4
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asn1crypto==0.24.0
astor==0.8.0
astroid==1.6.5
asttokens==2.2.1
async-timeout==3.0.1
atomicwrites==1.2.1
attrs==18.2.0
autocommand==2.2.2
aws-xray-sdk==0.95
awscli==1.16.43
Babel==2.11.0
backcall==0.1.0
backports.csv==1.0.7
beautifulsoup4==4.6.3
bleach==3.0.2
boto==2.49.0
boto3==1.9.33
botocore==1.12.33
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.0.1
cheroot==8.3.0
CherryPy==18.5.0
click==7.1.2
codecov==2.0.15
colorama==0.3.9
conllu==0.11
contourpy==1.0.7
cookies==2.2.1
coverage==4.5.1
cryptography==39.0.0
cycler==0.10.0
cymem==2.0.7
decorator==4.3.0
defusedxml==0.5.0
Deprecated==1.2.7
diffimg==0.2.3
dill==0.2.8.2
distlib==0.3.7
docker==3.7.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.19
ecdsa==0.13
eli5==0.8
entrypoints==0.2.3
et-xmlfile==1.0.1
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.12.4
flaky==3.4.0
Flask==1.1.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
fonttools==4.38.0
fqdn==1.5.1
ftfy==5.5.0
fusepy==2.0.4
future==0.17.0
gast==0.2.2
google-pasta==0.1.7
graphviz==0.9
greenlet==2.0.2
h5py==3.8.0
idna==2.9
idna-ssl==1.1.0
imagesize==1.4.1
importlib-resources==1.0.2
inflect==6.0.2
ipykernel==4.10.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
isort==4.3.4
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.context==4.3.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
jdcal==1.4
jedi==0.18.2
Jinja2==3.1.2
jiphy==1.2.2
jmespath==0.9.3
joblib==1.2.0
jsondiff==1.1.1
jsonpickle==1.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-events==0.6.3
jupyter_server==2.2.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.4.4
langid==1.1.6
lazy-object-proxy==1.3.1
livereload==2.5.2
Markdown==3.1.1
MarkupSafe==2.1.2
marshmallow==2.15.1
marshmallow-jsonapi==0.15.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==4.3.0
mosestokenizer==1.1.0
moto==1.3.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multidict==4.4.2
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==5.4.0
nbformat==4.4.0
nest-asyncio==1.5.6
nltk==3.3
notebook==5.7.0
notebook_shim==0.2.2
numpy==1.24.1
numpydoc==0.8.0
oauthlib==2.1.0
openfile==0.0.7
openpyxl==2.5.9
overrides==1.9
packaging==23.0
pandas==1.5.3
pandocfilters==1.4.2
parsimonious==0.8.0
parso==0.8.3
pathtools==0.1.2
patsy==0.5.1
pbr==5.1.0
pdfminer.six==20200124
pdfminer3k==1.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.4.0
pipenv==2023.9.8
pkginfo==1.4.2
plac==0.9.6
platformdirs==3.10.0
pluggy==0.8.0
ply==3.11
port-for==0.3.1
portend==2.6
prettytable==0.7.2
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.6.1
ptyprocess==0.6.0
pure-eval==0.2.2
py==1.7.0
pyaml==17.12.1
pyasn1==0.4.4
pybind11==2.5.0
pycparser==2.19
pycryptodome==3.17
pydantic==1.10.4
PyGithub==1.47
Pygments==2.2.0
PyJWT==1.7.1
pylint==1.8.1
pypandoc==1.4
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks==1.6.8
pytest==3.9.3
pytest-cov==2.6.0
python-dateutil==2.8.1
python-dotenv==0.13.0
python-jose==2.0.2
python-json-logger==2.0.4
pytz==2022.7.1
PyYAML==5.1
pyzmq==25.0.0
qtconsole==4.4.2
QtPy==2.3.0
regex==2022.10.31
requests==2.23.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
responses==0.10.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==3.4.2
s3transfer==0.1.13
sacremoses==0.0.43
scikit-learn==1.2.1
scipy==1.10.0
selenium==3.141.0
Send2Trash==1.5.0
seqeval==0.0.12
sgmllib3k==1.0.0
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
sniffio==1.3.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==1.5.3
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.0
sqlparse==0.2.4
stack-data==0.6.2
tabulate==0.8.2
tempora==2.1.0
tensorboardX==1.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
threadpoolctl==3.1.0
tinycss2==1.2.1
toolwrapper==1.0.0
toolz==0.9.0
torchfile==0.1.0
tornado==5.1.1
tqdm==4.48.0
traitlets==4.3.2
tweepy==3.6.0
twine==1.11.0
twitter==1.18.0
typing==3.6.6
typing_extensions==4.4.0
uctools==1.2.1
Unidecode==1.0.22
uri-template==1.2.0
urllib3==1.25.9
virtualenv==20.24.5
visdom==0.1.8.5
watchdog==2.2.1
wcwidth==0.1.7
webcolors==1.12
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.4.2
wrapt==1.11.2
WTForms==2.3.1
XlsxWriter==1.2.5
xlwt==1.3.0
xmltodict==0.11.0
yarl==1.2.6
zc.lockfile==2.0
